/*this section is for dealing with the charts styling*/

#market .x.axis text {
    text-anchor: end !important;
    transform: rotate(-90deg);
    font-size: small;
    margin-left: 0;
    padding-left: 0;
}

#reason1 .x.axis text {
    text-anchor: end !important;
    transform: rotate(-90deg);
    font-size: small;
    margin-left: 0;
    padding-left: 0;
}

/*this section is for setting the size of the containers*/

.size{
    margin: 0;
    padding:0;
    width:50%;
    border: solid 1px;
}