.container-size{
    margin: 0;
    padding:0;
    
}

.selectMenu-size{
    margin:1%;
    padding:0;
    width:105%;
    height:100%;
    border: solid 1px;
    
    @include phone{
        width: 93%;
    }
}

.reason-size{
    margin: 1%;
    padding:0;
    width:100%;
    height:100%;
    border: solid 1px;
    
    @include phone{
        width: 89%;
    }
}

.spend-size{
    margin: 1%;
    padding:0;
    width: 100%;
    height:100%;
    border: solid 1px;
    text-align: center;
    
    @include phone{
        width: 93%;
    }
}

.visits-size{
    margin: 1%;
    padding:0;
    width:100%;
    height:100%;
    border: solid 1px;
    text-align: center;
    
    @include phone{
        width: 93%;
    }
}

.arrival-size{
    margin: 1%;
    height: 100%;
    padding:0;
    border: solid 1px;
    
    @include phone{
        width: 89%;
    }
}

.country-size{
    margin: 1%;
    height: 100%;
    padding:0;
    border: solid 1px;
    
     @include phone{
        width: 89%;
    }
}

.VPC-size{
    margin: 1%;
    padding:0;
    width: 100%;
    height: 100%;
    border: solid 1px;
    
    @include phone{
        width: 89%;
    }
}

.market-size{
    margin: 1%;
    padding:0;
    width:100%;
    height:100%;
    border: solid 1px;
    
     @include phone{
        width: 89%;
    }
}