$min-phone-width: 768px;
$min-tablet-width: 992px;
$min-desktop-width: 1800px;

@mixin phone {
    @media (min-width: #{$min-phone-width}) {
        @content;
    }
}

@mixin tab {
    @media (min-width: #{$min-tablet-width}) {
        @content;
    }
}

@mixin computer {
    @media (min-width: #{$min-desktop-width}) {
        @content;
    }
}