//This file contains all the colors is have used in my dashboard not including the ones used for the charts.
//By Daniel Hayes 10.05.2017

//This section sets the max size of the sceen.
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

//These are the mixins that control how the page looks on a website
@mixin mobile{
    @media(max-width: $tablet-width - 1px){
        @content
    }
}
@mixin tab {

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
        @content
    }
}
@mixin computer {
    @media (min-width: $desktop-width) and (max-width: $large-desktop-width - 1px) {
        @content
    }
}