$mobile-width: 599px;
// this is the size of tablet view
$tablet-width: 992px;
// this is the size of desktop view 
$desktop-width: 1800px;



@mixin mobile{
    @media(max-width: $mobile-width - 1px){
        
        @content;
    }
}

@mixin tablet{

    @media(min-width: $mobile-width) and (max-width: $tablet-width - 1px){

        @content;

    }

}



@mixin desktop{

    @media(min-width: $tablet-width) and (max-width: $desktop-width - 1px){

        @content;

    }

}
