@import "../variables/colors/colors.scss";
@import "../variables/media-queries/media-queries.scss";

@import "../components/cards/cards.scss";
@import "../components/chart-size/chart-size.scss";
@import "../components/footer/footer.scss";
@import "../components/general/general.scss";
@import "../components/ids/ids.scss";
@import "../components/images/image1.scss";






body {
    background-color: #C1F5FB;
    font-family: 'Courgette', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}