// In this file you will fins all the imports needed to make this dashboard work, aswell as the styles for the main body of the page.
// By Daniel Hayes 10.05.2017

//This section contains all the imports from my variables folder.

@import "../variables/colors/colors.scss";
@import "../variables/media-queries/media-queries.scss";

//This section contains all the imports from my components folder.

@import "../components/cards/cards.scss";
@import "../components/chart-size/chart-size.scss";
@import "../components/footer/footer.scss";
@import "../components/general/general.scss";
@import "../components/ids/ids.scss";
@import "../components/images/image1.scss";
@import "../components/padding/padding.scss";
@import "../components/margins/margin.scss";





body {
    background-color: #258EA6;
    font-family: 'Courgette', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}