@import "../variables/colors.scss";
@import "../variables/media-queries.scss";


@import "../components/chart-size/chart-size.scss";
@import "../components/cards/cards.scss";


body {
    background-color: #D7FABB;
    font-family: 'Courgette', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}