#market .x.axis text {
    font-size: 10px;
    margin-top: 10px;
    padding: 10px;
}

#market svg g.axis.x g.tick text {
    transform: translateY(20px);
    transform: rotate(-45deg);
    text-anchor: end !important;
    
}

#reason .x.axis text {
    text-anchor: middle !important;
    font-size: 20px;
    margin-left: 0;
    padding-left: 0;
}
#country{
    padding-bottom: 5%;
    padding-top: 5%;
}
    
#VPC{
    padding-left:15%;
}

#VPC .x.axis text{
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
    font-weight: bold;
}

#arrival{
    padding-top:2%;
    padding-bottom:2%;
}

#selectMenu{
    width: 100%;
    
    @include phone{
        width: 25%;
    }
    
    @include tab {
        padding-left: 2%;
    }
}