// this is the size of standard tablets view
$tablet-width: 768px;
// this is the size of standard desktop view
$desktop-width: 992px;
// this is the size of large desktop view 
$large-desktop-width: 1200px;



@mixin mobile{
    @media(max-width: $tablet-width - 1px){
        
        @content;
    }
}

@mixin tablet {

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {

        @content;

    }

}



@mixin desktop {

    @media (min-width: $desktop-width) and (max-width: $large-desktop-width - 1px) {

        @content;

    }

}
