//This file contains all the styles that dont need there own files.
//By Daniel Hayes 10.05.2017

//--------------------------------------------------------------------------------

//This section is for all styles linked to tags.

a{
    color: black;
}
footer{
    @include mobile{
        width: 100%;
    }
}
h1{
    padding-top: 5%;
}
hr{
    width: 15%;
    background-color: $black;
}

//--------------------------------------------------------------------------------

//This section contains all the styles linked to the refresh button.

.btn{
    border: solid 1px grey;
    margin-top: 10%;
    color: black;
}
.button{
    width: 150px;
    
}
.refresh{
  padding-left: 28%;
  padding-top: 3%;
  width: 150px;

 
  @include tab{
      padding-left: 22%;
      padding-top: 5%;
  }
  @include computer{
      padding-top: 5%;
  }
}
.select{
    margin-top: 10%;
    
    @include mobile {
        width: 20%;
    }
    @include tab {
        padding-left: 10%;
    }
}

//--------------------------------------------------------------------------------

//this section contains styles are for styling out anything inside the containers

.underline{
    text-decoration: underline;
}
.display-4 {
    font-size: 2rem;
}
.crd{
    border: solix 1px;
}
.p{
    font-size: 30px;
    padding-top: 5%;
    padding-left: 2%;
    
    @include computer{
        font-size: 25px;
    }
}
.p1{
    font-size: 30px;
    padding-left: 2%;
    
    @include computer{
        font-size: 25px;
    }
}

