h1{
    padding-top: 5%;
}

.btn{
    border: solid 1px grey;
    margin-top: 10%;
    color: black;
}

.button{
    width: 150px;
    
}

.display-4 {
    font-size: 2rem;
}

.refresh{
  padding-left: 28%;
  padding-top: 3%;
  width: 150px;

 
  @include tab{
      padding-left: 22%;
      padding-top: 5%;
  }
  @include computer{
      padding-top: 5%;
  }
}

.select{
    margin-top: 10%;
    
    @include mobile {
        width: 20%;
    }
    @include tab {
        padding-left: 10%;
    }
}

a{
    color: black;
}

.mar1{
    margin-top: 2%;
    
    @include mobile{
        margin-top: 6%;
    }
    
    @include tab {
        margin-top: 2%;
    }
}
.mar2{
    margin-bottom: 5%;
}

.mar3{
    
    @include mobile{
    margin-left: 2%;
    }
    
    @include tab {
        margin-left: 5%;
    }
}

.mar4{
    
    @include mobile{
    margin-left: 2%;
    }
    
    @include tab {
        margin-left: 1%;
    }
    
    @include computer{
        margin-left: 1%;
    }
}

.mar5{
    @include mobile{
        margin-top: 6%;
    }
    
    @include tab{
        margin-top: 0%;
    }
}

.mar6{
    @include tab{
        margin-left: 4%;
    }
}

.mar7{
    @include mobile{
        margin-left: 3%;
    }
}

.mar8{
    @include mobile{
    margin-left: 0%;
    }
    
    @include tab {
        margin-left: 5%;
    }
}

.underline{
    text-decoration: underline;
}

footer{
    @include mobile{
        width: 100%;
    }
}

.crd{
    border: solix 1px;
}

.container1{
    //this class is a bypass for a problem im having with my border in the Method of Arrival chart.
}
