h1{
    padding-top: 5%;
}

.btn{
    border: solid 1px grey;
    margin-top: 4%;
    color:black;
}

.button{
    width: 150px;
}

.padding1{
    padding-left:2%;
}

.refresh{
  padding-left: 20%;
  padding-top: 5%;
  width: 150px;
}

.select{
    margin-top:10%;
}

a{
    color:black;
}

.mar1{
    margin-top: 2%;
}
.mar2{
    margin-bottom: 5%;
}